@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
  --primary-color: #DBDBDB;
  --secondary-color: #E4E12B;
  --background-cat-size: 105%;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.box{
  background-color: var(--primary-color);
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.box__welcome__img{
  height: 12.5rem;
}

.box__h1{
  color: black;
  font-size: 3rem;
  text-align: center;
}

.box__h2{
  color: black;
  font-size: 1.3rem;
  text-align: center;
}

.box__random__btn{
  text-decoration: none;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 2rem; 
  width: 10.5rem;
  background-color: var(--secondary-color);
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.box__random__btn:hover{
  cursor: pointer;
  color: var(--secondary-color);
  background-color: black;
}

.box__random__btn__icon{
  font-size: 1.8rem;
}

.box__cat__img__container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35rem;
  width: 45rem;
}

.box__loading__animation__container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.box__loading__text{
  font-size: 3.5rem;
}

.box__loading__fprint{
  height: 1.5rem;
  margin-top: 1.8rem;
}

.box__loading__fprint--oletter{
  height: 2rem;
}

.box__cat__img{
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
}
