@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
  --primary-color: #D8D8D8;
  --secondary-color: #F0FF00;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

html{
  background-color: var(--primary-color);
}

.box{
  height: 100dvh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow-x: hidden;
}

.box__content{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.box__tittle__img{
  height: 8.75rem;
}

.box__yellow__letter{
  color: var(--secondary-color);
}

.box__h2{
  color: black;
  font-size: 1.3rem;
  text-align: center;
}

.box__random__btn{
  text-decoration: none;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 2rem; 
  width: 10.5rem;
  background-color: var(--secondary-color);
  color: black;
  border: 0.3rem solid black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.box__random__btn:hover{
  cursor: pointer;
  color: var(--secondary-color);
  background-color: black;
}

.box__random__btn__icon{
  font-size: 1.8rem;
}

.box__cat__img__container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35rem;
  width: 45rem;
  position: relative;
}

.box__cat__img{
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
}


@media screen and (max-width: 1450px) {
  .box__tittle__img{
    height: 7.5rem;
  }

  .box__h2{
    font-size: 1.1rem;
  }

  .box__random__btn{
    font-size: 0.9rem;
    width: 9.5rem;
    height: 3rem;
  }

  .box__random__btn__icon{
    font-size: 1.7rem;
  }

  .box__cat__img__container{
    height: 30rem;
    width: 40rem;
  }
}

@media screen and (max-width: 960px) {
  .box__cat__img__container{
    height: 25rem;
    width: 35rem;
  }

  .box__tittle__img{
    height: 6rem;
  }
}

@media screen and (max-width: 800px) {
  .box__cat__img__container{
    height: 20rem;
    width: 30rem;
  }
}

@media screen and (max-width: 750px) {
  .box__tittle__img{
    height: 5rem;
  }

  .box__cat__img__container{
    height: 17rem;
    width: 20rem;
  }
}

@media screen and (max-width: 450px) {
  .box__content{
    height: 33rem;
    margin-top: -1rem;
  }
  
  .box__tittle__img{
    height: 3.5rem;
  }

  .box__h2{
    font-size: 0.9rem;
  }

  .box__random__btn{
    font-size: 0.7rem;
    width: 8rem;
    height: 2.7rem;
  }

  .box__random__btn__icon{
    font-size: 1.6rem;
  }

  .box__cat__img__container{
    height: 20rem;
    width: 95%;
  }
}

@media screen and (max-width: 360px) {
  .box__content{
    height: 24rem;
    margin-top: -2rem;
  }

  .box__tittle__img{
    height: 3rem;
  }

  .box__cat__img__container{
    height: 14rem;
    width: 85%;
  }

  .box__h2{
    font-size: 0.6rem;
  }

  .box__random__btn{
    font-size: 0.5rem;
    width: 7.3rem;
    height: 2rem;
  }

  .box__random__btn__icon{
    font-size: 1.3rem;
  }
}