@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
  --primary-color: #D8D8D8;
  --secondary-color: #F0FF00;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

html{
  background-color: var(--primary-color);
}

.box{
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.box__h1{
  color: black;
  font-size: 3rem;
  text-align: center;
}

.box__yellow__letter{
  color: var(--secondary-color);

}

.box__h2{
  color: black;
  font-size: 1.3rem;
  text-align: center;
}

.box__random__btn{
  text-decoration: none;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 2rem; 
  width: 10.5rem;
  background-color: var(--secondary-color);
  color: black;
  border: 0.3rem solid black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.box__random__btn:hover{
  cursor: pointer;
  color: var(--secondary-color);
  background-color: black;
}

.box__random__btn__icon{
  font-size: 1.8rem;
}

.box__cat__img__container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35rem;
  width: 45rem;
  position: relative;
}

.box__cat__img{
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
}

.pc__cat{
  position: absolute;
  top: -10rem;
  right: -5rem;
  height: 15rem;
}

.skate__cat{
  position: absolute;
  bottom: 0;
  left: -13.60rem;
  height: 15rem;
}

.footer{
  display: flex;
  justify-content:center;
  width: 100%;
  height: auto;
  padding: 0.5rem;
}

.footer__credits{
  font-size: 1rem;
  text-align: center;
  border: 0.3rem solid black;
  border-radius: 1.5rem;
  padding: 0.5rem;
  background-color: var(--secondary-color);
}

.footer__a{
  color: black;
  transition-duration: 0.1s;
  transition-timing-function: ease-in;
}

.footer__a:hover{
  color: var(--primary-color);
}

